/* styles.css */

/* Style for buttons */
.button {
    font-size: 14pt; /* Define font size for compatibility */
    background-color: linear-gradient(#f0ff35, #a9ff00);
    -fx-background-radius: 30;
    -fx-text-fill: #654b00;
    padding: 10 20 10 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 4, 0, 0, 1);
}

/* Style for VBox */
.root {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center center;
}
