/* styles.css */

/* Style for buttons */
.button {
    font-size: 14pt; /* Define font size for compatibility */
    background-color: linear-gradient(rgb(0, 46, 172), rgb(0, 46, 172));
    -fx-background-radius: 100;
    -fx-text-fill: #000000;
    padding: 20 20 20 20;
    -fx-effect: dropshadow(gaussian, rgb(0, 46, 172), 10, 0, 0, 0);
}

.title-label {
    font-size: 14pt; /* Define font size for compatibility */
    background-color: linear-gradient(rgb(0, 46, 172), rgb(0, 46, 172));
    -fx-background-radius: 100;
    -fx-text-fill: #000000;
    padding: 20 20 20 20;
    -fx-effect: dropshadow(gaussian, rgb(0, 46, 172), 10, 0, 0, 0);
}

/* Style for mainbg */
.mainbg {
    background-image: url('demo/src/main/resources/mainbg.jpg');
    background-size: cover;
    background-position: center center;
}
